@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/* Celular */
@media screen and (min-width: 0px){
    .container {
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }

    .button {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        background-color: #EB0505;
        padding: 10px 15px;
        border-radius: 7px;
        border: none;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .button:hover{
        transform: scale(1.03);
        background-color: #dd0f13;
        transition: transform 0.1s;
        transition: background-color 0.2s;
    }

    main > h2{
        color: #141D37;
        font-size: 42px;
        font-weight: bold;
        margin-left: 20px;
    }

    main > p {
        font-size: 18px;
        padding: 0 50px;
        text-align: justify;
    }

    main {
        margin-bottom: 64px;
    }

    /* Navegação */

    header{
        grid-area: header;
        background-color: #141D37;
        height: 96px;
        display: grid;
        grid-template-areas: 
        "logo men"
        "ul ul";
        justify-content: space-between;
        align-items: start;
        padding: 0px 50px;
        transition: height 0.4s;
    }

    .menu-hamburguer {
        height: 300px;
    }

    .display {
        visibility: hidden;
    }

    header > h1 {
        grid-area: logo;
        height: 50px;
        width: 130px;
        color: rgba(0, 0, 0, 0);
        background-image: url("../imgs/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    header > span {
        grid-area: men;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        padding: 0 10px 0 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.2s;
        margin-top: 20px;
    }

    header>span:hover {
        color: #141D37;
        background-color: #fff;
        border-radius: 5px;
    }

    header ul {
        list-style: none;
        padding: 0;
        grid-area: ul;
        justify-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    header ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    header ul li a:hover {
        color: #E66666;
    }
    
    /* Main */
    main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    main article > h2 {
        color: #141D37;
        font-size: 42px;
        font-weight: bold;
        margin-left: 20px;
    }

    /* Cabeçalho */
    .cabecalho div{
        height: calc(100vh - 96px);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cabecalho div h2 {
        font-size: 50px;
        max-width: 450px;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .cabecalho {
        background: url("../imgs/cabecalho.png");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    /* Carrossel */
    article.carrossel div.c-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100vw);
        box-sizing: border-box;

    }

    article.carrossel div.c-container span {
        padding: 7px;
        font-size: 36px;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0 5px;
    }

    article.carrossel div.c-container span:hover {
        transform: scale(1.1);
    }

    article.carrossel div.c-container div.c-conteudo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
        scroll-behavior: smooth;
    }

    article.carrossel div.c-container div.c-conteudo::-webkit-scrollbar{
        display: none;
    }

    article.carrossel div.c-container div.c-conteudo article{
        box-sizing: border-box;
        min-width: 250px;
        text-align: center;
        padding: 20px;
        background-color: #E5E5E5;
        border-radius: 7px;
    }

    article.carrossel div.c-container div.c-conteudo article i{
        font-size: 70px;
        font-weight: bold;
        color: #6D6D6D;
    }

    article.carrossel div.c-container div.c-conteudo article h2 {
        color: #141D37;
        font-size: 30px;
        letter-spacing: 3px;
    }

    article.carrossel div.c-container div.c-conteudo article p {
        text-align: justify;
        font-size: 16px;
        color: #726E81;
    }

    /* Newsletter */
    article.newsletter {
        margin-bottom: 64px;
    }

    article.newsletter span{
        width: 100%;
        text-align: center;
    }

    article.newsletter form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article.newsletter form input {
        box-sizing: border-box;
        width: 50%;
        max-width: 400px;
        color: #757575;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        background-color: #D9D9D9;
        border: none;
        border-radius: 7px 0 0 7px;
        height: 56px;
    }

    article.newsletter form input:focus {
        outline: none;
    }

    article.newsletter form button {
        box-sizing: border-box;
        box-shadow: none;
        cursor: pointer;
        border-radius: 0 7px 7px 0;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        background-color: #EB0505;
        border: none;
        height: 56px;
    }

    /* Footer */
    footer{
        grid-area: footer;
        background-color: #141D37;
        display: grid;
        grid-template-areas:
        "menu menu loc"
        "log log loc";
        color: #fff;
        font-size: 16px;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    footer div.localizacao {
        grid-area: loc;
    }

    footer div.localizacao p {
        font-weight: lighter;
        line-height: 20px;
        margin: 0 0 7px 0;
    }

    footer div.localizacao p.tel{
        margin-top: 40px;
    }

    footer div.direitos {
        grid-area: log;
        margin-left: 10px;
    }

    footer div.direitos img {
        width: 100px;
    }

    footer div.direitos p {
        font-size: 12px;
    }

    footer div.fmenu {
        grid-area: menu;        
    }

    footer div.fmenu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    footer div.fmenu ul a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 3px;
        font-size: 18px;
        line-height: 30px;
    }

    /* Contato */
    main div.pcontato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main div.pcontato form{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
    }

    main div.pcontato form input {
        box-sizing: border-box;
        color: #757575;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        background-color: #D9D9D9;
        border: none;
        border-radius: 7px;
        height: 56px;
    }

    main div.pcontato form textarea {
        box-sizing: border-box;
        color: #757575;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        background-color: #D9D9D9;
        border: none;
        border-radius: 7px;
        height: 150px;
    }

    main div.pcontato form button {
        box-sizing: border-box;
        box-shadow: none;
        cursor: pointer;
        border-radius: 7px;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        background-color: #EB0505;
        border: none;
        height: 56px;
    }
}

@media screen and (min-width: 768px) {
    .display{
        visibility: visible;
    }

    .menu-hamburguer {
        height: 96px;
    }

    header>span {
        display: none;
    }

    header {
    grid-template-areas:
    "logo ul";
    justify-content: space-between;
    align-items: center;
    }

    header ul {
        flex-direction: row;
        gap: 30px;
    }

    article.carrossel div.c-container{
        padding: 15px 100px;
    }
    
    article.carrossel div.c-container div.c-conteudo {
        gap:50px
    }
    
    article.carrossel div.c-container div.c-conteudo article {
        min-width: 350px;
    }

    footer {
        grid-template-areas:
        "loc menu log";
    }

    main div.pcontato {
        padding: 0 64px;
    }

    main div.pcontato form {
        width: 900px;
    }

}